{% extends 'base.html' %}
{% block content %}
    <form action="/results" method="post">
      <div class="search-box">
        <label class="form-label" >Search by Title:</label>
        <input class="search-field form-control" name="search" type="text" placeholder="Eg. Crime and Punishment" style="width:20em;">
        <input class="btn btn-dark" type="submit" value="Search">
      </div>
    </form>

{% if data|length > 0 %}

    <div class="  table-responsive card" style="width: 80%;margin:0 auto;">
        <table class="table table-dark table-striped table-hover " style="">
            <thead>
              <tr>
                <th class="text-center align-middle" scope="col">#</th>
                <th class="text-center align-middle" scope="col">Cover</th>
                <th class="text-center align-middle" scope="col" style="width:9em;">Title</th>
                <th class="text-center align-middle" scope="col">Autor</th>
                <th class="text-center align-middle" scope="col">Year</th>
                <th class="d-none text-center align-middle" scope="col">User</th>
                <th class="text-center align-middle" scope="col">shelf</th>
                <th class="text-center align-middle" scope="col">X</th>
                  </tr>
            </thead>

            <tbody>
            {% for book in data %}
                  <tr>
                    <th class="serial text-center align-middle" scope="row"></th>
                    <td class="text-center align-middle"><img src="{{book[1]}}" alt="bookcover" class="book-cover"></td>
                    <td class="text-center align-middle">{{book[2]}}</td>
                    <td class="text-center align-middle">{{book[3]}}</td>
                    <td class="text-center align-middle">{{book[4]}}</td>
                    <td class="d-none text-center align-middle">{{book[5]}}</td>
                    <td class="text-center align-middle">{{book[6]}}</td>
                      <td class="text-center align-middle">
                          <button class="remove btn btn-dark" type="submit">Remove</button></td>
                  </tr>
            </tbody>

            {% endfor %}
        </table>
        {% else %}
        <div class="empty"><h1>WOW! SUCH EMPTINESS!</h1></div>
        {% endif %}
    </div>

{% endblock %}
