{% extends 'base.html' %}
{% block content %}
    <form action="/results" method="post">
      <div class="search-box">
        <label class="form-label" >Search by Title:</label>
        <input class="search-field form-control" name="search" type="text" placeholder="Eg. Crime and Punishment" style="width:20em;">
        <input class="btn btn-dark" type="submit" value="Search">
      </div>
    </form>


{% if data|length > 0 %}

            <div class="books-container">
            {% for book in data %}
                <div class=" card book-item">
                    <div class="cover"><img src="{{ book[1] }}"></div>
                    <div class="title"> {{ book[2] }}</div>
                    <div class="year"> {{ book[4] }}</div>
                    <em class="author"> {{ book[3] }}</em>
                    <!-- useless for now <div class="user"> {{ book[5] }}</div> -->
                    <div> <button class="remove btn btn-dark" type="submit"> Remove</div>
                </div>
            {% endfor %}
            </div>
        {% else %}
        <div class="empty"><h1>WOW! SUCH EMPTINESS!</h1></div>
        {% endif %}

{% endblock %}
