{% extends 'base.html' %}

{% block content %}
    <form action="/home" method="post">
      <div class="search-box">
        <label class="form-label" for="search">Search for a Book:</label>
        <input class="form-control" name="search" type="text" placeholder="Eg. Crime and Punishment">
        <input class="btn btn-dark" type="submit" value="Search">
      </div>
    </form>

    <div class="home">
        <table class="table ">
            <thead>
              <tr>
                <th class="text-center align-middle" scope="col">#</th>
                <th class="text-center align-middle" scope="col">Cover</th>
                <th class="text-center align-middle" scope="col">Title</th>
                <th class="text-center align-middle" scope="col">Autor</th>
                <th class="text-center align-middle" scope="col">Year</th>
                <th class="text-center align-middle" scope="col">User</th>
              </tr>
            </thead>
            <tbody>

        {% if data %}
            {% for book in data %}
                  <tr>

                    <th class="serial text-center align-middle" scope="row"></th>
                    <td class="text-center align-middle"><img src="{{book[1]}}" alt="bookcover" class="book-cover"></td>
                    <td class="text-center align-middle">{{book[2]}}</td>
                    <td class="text-center align-middle">{{book[3]}}</td>
                    <td class="text-center align-middle">{{book[4]}}</td>
                    <td class="text-center align-middle">{{book[5]}}</td>
                      <td class="text-center align-middle">
                          <button class="remove" type="submit">Remove</button></td>

                  </tr>

            {% endfor %}
        {% endif %}
                </tbody>
              </table>
    </div>


{% endblock %}
