{% extends "base.html" %}

{% block content %}

<div id="landing">
    <img src="../static/images/splashlogo.png" alt="logo">
    <form action="/register" method="post">
            <div class="mb-3">
            <input class="form-control form-control-lg" type="text" name="fullname" placeholder="Alan Doe" required>
            <input class="form-control form-control-lg" type="text" name="username" id="username" placeholder="Alan" required>
            <input class="form-control form-control-lg" type="email" name="email" placeholder="Email (optional)" >            
            <input class="form-control form-control-lg" type="password" name="password" id="password" placeholder="Password" required>
            <input class="form-control form-control-lg" type="password" name="password-con" id="password" placeholder="Cofirm Your Passowrd" required>
            <input class="form-control" type="submit" name="register" value="Create Account" style="border: 1px solid green;" required>
        </div>
    </form>
</div>



{% endblock %}